html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  margin: 0;
  padding: 0;
  width: 100%;
}